
h1 {
    text-transform: uppercase;
    margin: 12px 0;
    text-align: center;
    border-bottom: 1px solid #797979;
}

h2 {
    margin: 48px 0 12px;
    background-color: #eee;
    text-align: center;
}

section {
    background-color: #797979;
}


.article-1 {
    background-color: #eee;
}

.article-2 {
    background-color: #a8a8a8;
}

.article-3 {
    background-color: #6ac9c0;
}

.question-5 li {
    background-color: #6ac9c0;
}

